#container{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    width : 500px;
    border-radius: 20px;
    padding: 5px;
    margin-top: 150px
}

#left-container, #right-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    justify-content: space-around ;
    align-items: center;
}

.number, .operator{
    display: flex;
    height: 70px;
    width: 70px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#left-container{
    margin-top: 10px;
    height: 350px;
    width: 350px;
}

#right-container{
    flex-direction: column;
    margin-top: 10px;
    height: 175px;
    width: 150px;
}
.screen{
    display: flex;
    height: 70px;
    width: 500px;
    margin: 10px;
}

input{
    display: flex;
    flex:1;
    background-color: white;
    border-radius: 5px;
}

button{
    color: white;
    background-color: #4d4d4d;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 20px;
}

.operator{
    font-size: 30px;
}

.operator.C{
    background-color: lightblue;
    color: red;
}
